// fonts

// font-family: 'Kumar One', cursive;
// font-family: 'Kumar One Outline', cursive;
// font-family: 'Lato', sans-serif;

// colors 

$bright-yellow: #F8FB05;
$evergreen: #065635;
$white: #F5F5F5;
$ice: #E0FDDF;
$black: #151514;

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

h1, 
nav, 
h2, 
h3, 
h4, 
.logo,
.blog-form input::placeholder,
textarea::placeholder,
.contact-form input::placeholder {
    text-transform: uppercase;
}

// imports
@import "normalize";
@import "header";
@import "main";
@import "blog-main";
@import "contact-main";
@import "media-queries";



// color styles 

html, 
body {
    background-color: $white;
    color: $black;
    overflow-x: hidden;
}

button, 
input.submit-button {
    background-color: $evergreen;
    color: $white;
}

footer {
    background-color: $black;
    color: $white;
}

// font-styles

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3.4rem;
    line-height: 3.2rem;
}

h2, 
h3,
.logo, 
button, 
.comments-section h3, 
input.submit-button {
    font-family: 'Roboto Slab', serif;
}

nav, 
body {
    font-family: 'Lato', sans-serif;
}

h1, 
h2, 
.logo, 
button, 
body, 
input.submit-button {
    font-weight: normal;
}

nav, 
button, 
body {
    font-size: 1rem;
}

button, 
body {
    line-height: 1.6rem;
}

h2 {
    font-size: 1.65rem;
    line-height: 2.9rem;
    letter-spacing: 2.1px;
}

.logo {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
    line-height: 1.2rem;
    letter-spacing: 1.2px;
}

nav {
    line-height: 1.45rem;
    letter-spacing: 1.4px;
    font-weight: bold;
}

button, 
input.submit-button {
    letter-spacing: 1px;
}

body {
    letter-spacing: 2px;
}

// button styles 

button, 
input.submit-button {
    padding: 10px 20px 8px;
    text-transform: uppercase;
    border: 2px solid $evergreen;
    transition: background-color 400ms;
}

button:hover,
button:focus,
input.submit-button:hover,
input.submit-button:focus {
    background-color: $ice;
    color: $evergreen;
    cursor: pointer;
}